




.navbar {
	background-color: #323b4c;
}

.nav-item, h2 {
	font-family: "Lucida Console", Courier, monospace;
}

.titre-page {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}





.aligne-droite {
	float: right;
}





.bi-file-earmark-pdf-fill {
	color: red;
	height: 40px;
}

.bi-github {
	color: black;
}





@media (max-width: 400px) {
	.image-ecole {
		width: 100%;
	}
}

@media (min-width: 400px) {
	.image-ecole {
		height: 400px;
	}

	.bloc-ecole {
		height: 400px;
		width: 80%;
	}

	.bloc-ecole > p {
		line-height: 2;
	}
}	
