




.navbar {
	background-color: #323b4c;
}

.nav-item, h2 {
	font-family: "Lucida Console", Courier, monospace;
}

.titre-page {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}





.bi-file-earmark-pdf-fill {
	color: red;
	height: 40px;
}

.bi-github {
	color: black;
}





.texte-bleu {
	color: #323b4c;
}

.titre-accueil {
	font-size: clamp(35px, 8vw, 70px);
}





@media (max-width: 400px) {
	.image-ecole {
		width: 100%;
	}

	.description {
		margin-top: 0.6rem;
	}

	br {
		margin-top: 0.6rem;
		display: block;
	}
}

@media (min-width: 400px) {
	.image-ecole {
		height: 400px;
	}

	.image-ecole-droite {
		margin-left: 1rem;
	}

	.bloc {
		height: 400px;
		width: 90%;
		display: flex;
		align-items: center;
	}

	.description {
		line-height: 2;
	}

	.aligne-droite {
		float: right;
		flex-direction: row-reverse;
	}

	.texte-droite {
		text-align: right;
		margin-right: 
	}

	.titre-accueil-haut {
		margin-top: 10rem;
	}

	.titre-accueil {
		margin-left: 3rem;
	}
}	
